[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
tensorflow = "*"
scipy = "*"
pillow = "*"
ipython = "*"
requests = "*"
"bs4" = "*"

[dev-packages]

[requires]
python_version = "3.7"
